@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-hind-siliguri), var(--font-inter), sans-serif;

  --font-english: var(--font-inter), sans-serif;
}

body {
  font-family: var(--font-sans);
}